*.tmp
*.swp

vim.symlink/bundle
vim.symlink/autoload
vim.symlink/.netrwhist*
vim.symlink/spell/en.utf-8.add.spl

# Compiled python classes
*.pyc

# R packages
r.xdg_cfg/library/
!r.xdg_cfg/library/README
